<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #e3f2fd;">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/book">Book</a>
            <a class="nav-item nav-link" href="/bookings">Current bookings</a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
    </div>
</nav>