<h1>Booking page</h1>
<ul>
    <form action="/booking" method="POST">
        <li>Date: <input type="text" name="bookingDate" value={{day}}></li>
        <li>Book:<select name="job_id">
                <option value="1111">Lawn mowing</option>
                <option value="1112">Weeding</option>
                <option value="1113">Lawn mowing and weeding</option>
                <option value="1114">Planting</option>
                <option value="1115">Retaining wall</option>
            </select></li>
        <li>Fee<input type="text"></li>
        <li><button>Book</button></li>
    </form>
</ul>