<h1>Booking page</h1>
<ul>
    <form action="/booking" method="POST">
        <li>Date:</li>
        <li>Book:<select name="services">
                <option value="lawn_mowing">Lawn mowing</option>
                <option value="weeding">Weeding</option>
                <option value="lawn_mowing_and_weeding">Lawn mowing and weeding</option>
                <option value="planting">Planting</option>
                <option value="retaining_wall">Retaining wall</option>
            </select></li>
        <li>Fee:</li>
        <li><button>Book</button></li>
    </form>
</ul>