<h1>Upcoming bookings</h1>
{{#each data}}
<ul>
    <li>Booking Date:{{bookingDate}} at {{bookingTime}} <br>
        Service: {{servicesDescription}}, Fee: ${{servicesFee}}</li>
    <br>
    <hr>
</ul>
{{/each}}