<h2>Register</h2>
<form action="/register" method="POST">
    <input type="text" name="userName" placeholder="Name">
    <input type="text" name="userAddress" placeholder="Address">
    <input type="text" name="userCity" placeholder="City">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="phoneNumber" placeholder="phone number">

    <button type="submit">Register</button>
</form>