<h1>ContractWiz</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <td>Sunny</td>
                <td>Rainy</td>
                <td>Windy</td>
                <td>Rainy</td>
                <td>Rainy</td>
                <td>Rainy</td>
                <td>Rainy</td>
            </tr>
            <tr class="table-primary">
                <td>
                    <form action="/book" method="get" name="monday"><button>Book</button></form>
                </td>
                <td>
                    <form action="/book" method="get" name="tuesday"><button>Book</button></form>
                </td>
                <td>
                    <form action="/book" method="get"><button>Book</button></form>
                </td>
                <td>
                    <form action="/book" method="get"><button>Book</button></form>
                </td>
                <td>
                    <form action="/book" method="get"><button>Book</button></form>
                </td>
                <td>
                    <form action="/book" method="get"><button>Book</button></form>
                </td>
                <td>
                    <form action="/book" method="get"><button>Book</button></form>
                </td>

            </tr>
        </tbody>
    </table>
</div>