<h1>ContractWiz</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <td>Sunny</td>
                <td>Rainy</td>
                <td>Windy</td>
                <td>Rainy</td>
                <td>Rainy</td>
                <td>Rainy</td>
                <td>Rainy</td>
            </tr>
            <form action="/home" method="POST"></form>
            <tr class="table-primary">
                <td>
                    <form action="/home" method="POST"><button name="monday" value="monday">Book</button></form>
                </td>
                <td>
                    <form action="/home" method="POST"><button name="tuesday" value="tuesday">Book</button></form>
                </td>
                <td>
                    <form action="/home" method="POST"><button name="wednesday" value="wednesday">Book</button></form>
                </td>
                <td>
                    <form action="/home" method="POST"><button name="thursday" value="thursday">Book</button></form>
                </td>
                <td>
                    <form action="/home" method="POST"><button name="friday" value="friday">Book</button></form>
                </td>
                <td>
                    <form action="/home" method="POST"><button name="saturday" value="saturday">Book</button></form>
                </td>
                <td>
                    <form action="/home" method="POST"><button name="sunday" value="sunday">Book</button></form>
                </td>
            </tr>
            </form>
        </tbody>
    </table>
</div>